<div class="section nobg clearfix">
    <div class="container clearfix">
        <div class="heading-block bottommargin-lg center noborder" data-heading="W">
            <h3 class="nott ls0">{{ 'La philosophie d\'audicoci'|upper }}</h3>
        </div>
    </div>

    <!-- How We Work - Carousel
    ============================================= -->
    <div id="oc-features" class="owl-carousel owl-carousel-full image-carousel carousel-widget">
        <div class="oc-item">
            <div class="row cleafix">
                <div class="col-xl-8">
                    <img src="{{ asset('build/front/static/theme/carousel/1.jpg') }}" alt="">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                    <h3>{{ 'Qu\'est ce qui nous anime'|capitalize }}</h3>
                    <p>Uniquely plagiarize dynamic convergence after equity invested experiences. Holisticly repurpose installed base infomediaries before web-enabled methods of empowerment.</p>
                    <a href="#" class="button-link">{{ 'En savoir plus' }}</a>
                </div>
            </div>
        </div>
        <div class="oc-item">
            <div class="row cleafix">
                <div class="col-xl-8">
                    <img src="{{ asset('build/front/static/theme/carousel/1.jpg') }}" alt="">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                    <h3>{{ 'Que faisons-nous'|capitalize }}</h3>
                    <p>Uniquely plagiarize dynamic convergence after equity invested experiences. Holisticly repurpose installed base infomediaries before web-enabled methods of empowerment.</p>
                    <a href="#" class="button-link">{{ 'En savoir plus' }}</a>
                </div>
            </div>
        </div>
        <div class="oc-item">
            <div class="row cleafix">
                <div class="col-xl-8">
                    <img src="{{ asset('build/front/static/theme/carousel/1.jpg') }}" alt="">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                    <h3>{{ 'A qui nous adressons-nous'|capitalize }}</h3>
                    <p>Uniquely plagiarize dynamic convergence after equity invested experiences. Holisticly repurpose installed base infomediaries before web-enabled methods of empowerment.</p>
                    <a href="#" class="button-link">{{ 'En savoir plus' }}</a>
                </div>
            </div>
        </div>
        <div class="oc-item">
            <div class="row cleafix">
                <div class="col-xl-8">
                    <img src="{{ asset('build/front/static/theme/carousel/1.jpg') }}" alt="">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                    <h3>{{ 'Notre approche conseil'|capitalize }}</h3>
                    <p>Uniquely plagiarize dynamic convergence after equity invested experiences. Holisticly repurpose installed base infomediaries before web-enabled methods of empowerment.</p>
                    <a href="#" class="button-link">{{ 'En savoir plus' }}</a>
                </div>
            </div>
        </div>
    </div>
</div>