{% extends 'base.html.twig' %}
{% block title %}{{ 'Audicoci | Qui sommes nous' }}{% endblock %}
{% block body %}
    <section class="page-title parallax parallax2">
        <div class="title-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-title style1">
                            <h1>
                                {{ 'Qui sommes nous' }}
                            </h1>
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('index_page') }}" title="{{ 'Audicoci' }}">{{ 'Accueil' }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li><a href="{{ path('page_about') }}" title="{{ 'Qui sommes nous' }}"> {{ 'Qui sommes nous' }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                </ul>
                            </div><!-- /.breadcrumbs -->
                        </div><!-- /.box-title -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.title-heading -->
        <div class="overlay-black"></div>
    </section><!-- /.page-title parallax -->
    <!-- Qui sommes nous -->
    <section class="flat-about style3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title padding">
                        <h2>{{ 'Qui sommes nous'|upper }}</h2>
                        <p class="sub-title">
                            <strong>AUDICO-CI</strong>  fait partie du groupe Audit & Accounting Coporation (AUDICO) créé en 1993 et dont le siège est à Londres (Royaume Uni).
                        </p>
                    </div><!-- /.top-title -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-about style1">
                        <ul class="tab-list-about">
                            <li class="active">{{ 'Qui Sommes Nous'|upper }}</li>
                            <li>{{ 'Que faisons nous'|upper }}</li>
                            <li>{{ 'Notre devise'|upper }}</li>
                        </ul><!-- /.tab-list style1 -->
                        <div class="content-tab">
                            <div class="content-inner">
                                <div class="one-half">
                                    <div class="image-tabs">
                                        <img class="border-radius-5 box-shadow" src="{{ asset('build/global/images/home/about_1.jpg') }}" alt="{{ 'Qui sommes nous' }}">
                                    </div>
                                </div><!-- /.one-half -->
                                <div class="one-half">
                                    <div class="text-tabs">
                                        <h4>{{ 'Qui sommes nous ?'|upper }}</h4>
                                        <div class="text-content">
                                            <p>AUDICO-CI fait partie du groupe Audit & Accounting Coporation (AUDICO) créé en 1993 et dont le siège est à Londres (Royaume Uni). Son objectif premier est l’assistance et l’appui conseil aux entreprises exposées aux dures réalités des risques divers de l’environnement des affaires. Rester dynamique, inventif, efficace et efficient a permis à AUDICO de résister aux passages troubles que connaît chaque personne physique ou morale et surtout l’entreprise.</p>
                                            <p>Fort de ces valeurs, nos activités traditionnellement orientées vers le secteur privé (audit, comptabilité, expertise, conseil,  droit, fiscalité, etc.), ont été étendues au secteur public. AUDICO intervient aujourd’hui sans complexe aucune  en planification et stratégie de développement, étude de projets de développement, divers conseils en gestion et contrôle des administrations publiques centrales et décentralisées.</p>
                                            <p>Nous sommes heureux et honorés de vous savoir satisfaits de nos conseils tout en restant réceptifs et ouverts à vos précieuses orientations pour amélioration.</p>
                                        </div><!-- /.text-content -->
                                    </div><!-- /.text-tabs -->
                                </div><!-- /.one-half -->
                                <div class="clearfix"></div>
                            </div>
                            <div class="content-inner overflow">
                                <div class="one-half">
                                    <div class="image-tabs">
                                        <img class="border-radius-5" src="{{ asset('build/global/images/home/about_2.jpg') }}" alt="Que faisons nous">
                                    </div>
                                </div><!-- /.one-half -->
                                <div class="one-half">
                                    <div class="text-tabs">
                                        <h4>{{ 'Que faisons nous'|upper }}</h4>
                                        <div class="text-content">
                                            <p>En tant que conseil, nous vous accompagnons sur votre chemin d’évolution vers le sommet. Ce sommet est unique et personnel et c’est vous qui devez dessiner ses contours. Notre appui consiste à vous guider, vous soutenir et vous orienter vers la foi en soi, la performance et la réussite. Cette réussite dépend d’un environnement sain et sécurisé.</p>
                                            <p>Nos revues critiques suivies de nos recommandations et plan d’actions contribuent efficacement à la création d’un tel environnement autour de vos affaires. Nos experts sont disponibles en permanence pour vous apporter l’assistance et l’appui dont vous avez besoin. Nous contacter</p>
                                        </div>
                                    </div><!-- /.text-tabs -->
                                </div><!-- /.one-half -->
                            </div>
                            <div class="content-inner overflow">
                                <div class="one-half">
                                    <div class="image-tabs">
                                        <img class="border-radius-5" src="{{ asset('build/global/images/home/about_3.jpg') }}" alt="Notre devise">
                                    </div>
                                </div><!-- /.one-half -->
                                <div class="one-half">
                                    <div class="text-tabs">
                                        <h4>{{ 'Notre devise'|upper }}</h4>
                                        <div class="text-content">
                                            <div class="flat-old-year">
                                                <ul class="list-year">
                                                    <li>
                                                        <span class="dot heartbit"></span>
                                                        <p class="date">{{ 'Confiance en soi'|upper }}</p>
                                                        <div class="event">
                                                            <p>De par la solide formation, l’expérience, le reflexe individuel et collectif de questionnement et de mise à niveau permanent, chaque membre de notre équipe a foi en son intégrité personnelle et dispose d’une force intérieure lui permettant de vous apporter l’assistance et l’appui sur mesure en fonction de vos besoins spécifiques.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="dot heartbit"></span>
                                                        <p class="date">{{ 'Persévérance'|upper }}</p>
                                                        <div class="event">
                                                            <p>De manière générale, l’être humain est hostile au changement. Paradoxalement, l’environnement dans son ensemble, celui des affaires et des finances en particulier sont en perpétuelles évolutions. L’esprit de rigueur dans l’application des normes qui évoluent avec l’environnement, nous oblige à persévérer dans le cadre de nos appuis conseils afin que les solutions les plus adaptées soient adoptées, appliquées et correctement mises en œuvre dans le but d’assurer votre développement et votre croissance qui font notre fierté.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="dot heartbit"></span>
                                                        <p class="date">{{ 'Cohésion'|upper }}</p>
                                                        <div class="event">
                                                            <p>Notre groupe de travail doit sa solidité et sa crédibilité à l’esprit d’échange et de partage d’expérience et du savoir-faire. Cette cohésion et union étroite de nos experts ainsi que la cohérence de nos conseils constituent de réels avantages pour accroître votre valeur ajoutée et votre rendement sur tous les aspects de votre activité.</p>
                                                        </div>
                                                    </li>
                                                </ul><!-- /.list-year -->
                                            </div>
                                        </div>
                                    </div><!-- /.text-tabs -->
                                </div><!-- /.one-half -->
                            </div>
                        </div><!-- /.content-tab -->
                    </div><!-- /.tab-about style1 -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- Actualités -->
    <section class="flat-imagebox style6 background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title">
                        <h3 class="font-weight-3">{{ 'Actualités & conseil' }}</h3>
                    </div><!-- /.flat-title -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-14">
                        {% for post in posts %}
                            <div class="imagebox style2 v6 border">
                                <div class="imagebox-image">
                                    <img src="{{ post.assertPath|imagine_filter('thumb_medium') }}" alt="{{ post.title }}">
                                </div><!-- /.imagebox-image -->
                                <div class="imagebox-content">
                                    <h5><a href="{{ path('page_blog_detail', {'slug': post.slug }) }}" title="{{ post.title }}">{{ post.title|truncate(20, null, '...') }}</a></h5>
                                    <ul>
                                        <li class="date">{{ post.created|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")  }}</li>
                                        <li><a href="#" title="">{{ post.subject.title }}</a></li>
                                    </ul>
                                    <p>{{ post.content|raw|truncate(120, null, '...') }}</p>
                                    <div class="more-link">
                                        <a href="{{ path('page_blog_detail', {'slug': post.slug }) }}" title="{{ post.title }}">{{ 'Lire l\'article'|upper }}</a>
                                    </div>
                                </div><!-- /.imagebox-content -->
                            </div><!-- /.imagebox style2 v5 -->
                        {% endfor %}
                    </div><!-- /.owl-carousel-14 -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-imagebox style6 -->
    <section class="flat-partner flat-testimonial style3 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title padding">
                        <h3>{{ 'ils nous font confiance'|upper }}</h3>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="owl-carousel">
                        {% for partner in partners %}
                            <li>
                                <img src="{{ partner.assertPath|imagine_filter('thumb_partner') }}" alt="">
                            </li>
                        {% endfor %}
                    </ul><!-- /.owl-carousel -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-partner background -->
{% endblock %}


