{% extends 'base.html.twig' %}
{% block title %}{{ 'Audicoci | Notre Philosophie' }}{% endblock %}
{% block body %}
    <section class="page-title parallax parallax2">
        <div class="title-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-title style1">
                            <h1>
                                {{ 'Notre philosophie' }}
                            </h1>
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('index_page') }}" title="">{{ 'Accueil' }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li><a href="{{ path('page_philosophie') }}" title="{{ 'Notre philosophie' }}">{{ 'Notre philosophie' }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                </ul>
                            </div><!-- /.breadcrumbs -->
                        </div><!-- /.box-title -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.title-heading -->
        <div class="overlay-black"></div>
    </section><!-- /.page-title parallax -->
    <div class="divider100"></div>
    <section class="flat-info-box style1">
        <div class="container">
            <div class="row padding">
                <div class="col-md-12">
                    <div class="flat-title padding">
                        <h2 class="top-post">{{ 'NOTRE PHILOSOPHIE : REGARD VERS LE SOMMET !'|upper }}</h2>
                    </div>
                </div>
            </div>
            <div class="divider24"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title padding">
                        <h2>{{ 'A Qui Nous Adressons Nous ?'|upper }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row wrap-column">
                    <div class="col-md-4">
                        <div class="info-box style1 info-image no-padding">
                            <img src="{{ asset('build/global/images/home/philo_1.jpg') }}" alt="{{ 'A Qui Nous Adressons Nous' }}">
                        </div>
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-8">
                        <div class="col-md-11">
                            <div class="text-justify">
                                <p class="sub-title">Notre devoir premier est votre épanouissement financier individuel et collectif. AUDICO considère que le développement individuel est le moteur du développement collectif.</p>
                                <p>Ainsi, nos conseils en développement et croissance sur le plan financier s’adressent d’abord à vous en tant que personne physique, à votre progéniture pour gagner le pari du futur, à votre entreprise qu’elle soit sous forme individuelle ou sociétaire, aux administrations publiques (centrales ou décentralisées) afin que leurs stratégies, programmes ou projets de développement ainsi que leurs méthodes et systèmes contribuent réellement au bien-être collectif.</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-8 -->
                </div><!-- /.row wrap-column -->
            </div>
            <div class="divider50"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title padding">
                        <h2>{{ 'Qu\'est Qui Nous Animes'|upper }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row wrap-column">
                    <div class="col-md-8">
                        <div class="col-md-11">
                            <div class="text-justify">
                                <p>Selon un proverbe africain, ’’Une seule main ne saurait attacher convenablement un fagot’’. Il en résulte que nous sommes tous intimement liés et interdépendants les uns les autres. </p>
                                <p>
                                    Dans ce contexte global, notre désir et nos efforts au quotidien sont guidés par le souci de vous voir progresser et évoluer sur tous les aspects de votre vie et particulièrement ceux relatifs à vos affaires et votre confort financier.
                                </p>
                                <p>
                                    Apporter notre appui conseil afin que vous dominiez la peur et vous engagiez dans le monde des affaires pour votre épanouissement et votre confort financier individuel et collectif est le motif de notre action. Pour réussir ce pari, notre équipe d’experts est à la disposition :
                                </p>
                                <div class="divider10"></div>
                                <div class="flat-old-year">
                                    <ul class="list-year">
                                        <li>
                                            <span class="dot heartbit"></span>
                                            <div class="event">
                                                <p>	De toute personne physique ou groupe de personnes dans le cadre de nos missions de formation et coaching en <em>développement personnel</em> permettant de cultiver le reflex, les aptitudes et les habitudes des affaires</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="dot heartbit"></span>
                                            <div class="event">
                                                <p>	De toute entreprise ou structure de production de biens et/ou services afin de contribuer à l’amélioration de ses performances pour besoin d’efficacité, d’efficience et de rentabilité</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="dot heartbit"></span>
                                            <div class="event">
                                                <p>	Des structures du secteur public afin de développer, mettre en œuvre et suivre l’exécution des actions concertées et globalisantes de développement et croissance durables à l’échelle nationale et/ou régionale. Notre obsession étant le bien-être de tous, nous accompagnons les acteurs du secteur à la mise en application de méthodes et systèmes d’utilisation rationnelle des ressources publiques pour une satisfaction maximale des usagers.</p>
                                            </div>
                                        </li>
                                    </ul><!-- /.list-year -->
                                    <blockquote><strong class="pull-right">Votre épanouissement fait notre fierté</strong></blockquote>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="info-box style1 info-image no-padding">
                            <img src="{{ asset('build/global/images/home/philo_2.jpg') }}" alt="{{ 'Qu\'est Qui Nous Animes' }}">
                        </div>
                    </div><!-- /.col-md-8 -->
                </div><!-- /.row wrap-column -->
            </div>
            <div class="divider50"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title padding">
                        <h2>{{ 'Notre Approche Conseil'|upper }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row wrap-column">
                    <div class="col-md-4">
                        <div class="info-box style1 info-image no-padding">
                            <img src="{{ asset('build/global/images/home/philo_3.jpg') }}" alt="{{ 'Notre Approche Conseil' }}">
                        </div>
                    </div><!-- /.col-md-8 -->
                    <div class="col-md-8">
                        <div class="col-md-11">
                            <div class="text-justify">
                                <p>
                                    Notre approche conseil est prospective et participative. Notre travail est axé sur l’identification de vos points forts à améliorer ainsi que des potentielles zones de blocage ou de déperdition.
                                </p>
                                <p>
                                    Pour une appropriation parfaite et sans faille des solutions à votre cas spécifique, notre équipe mène avec vous des échanges interactifs et participatifs. Nous restons en permanence à vos côtés pour appui jusqu’à votre entière satisfaction.
                                </p>
                                <p>
                                    La démarche participative de AUDICO a aussi pour avantage dans le cadre d’un groupe de travail, de sensibiliser, d’informer et de former tous les acteurs qui n’ont ni la même perception des enjeux, ni la même maîtrise des lois et règlements en vigueur, ni la même vision globale du projet.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row wrap-column -->
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <div class="divider100"></div>
    <section class="flat-partner flat-testimonial style3 background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title padding">
                        <h3>{{ 'ils nous font confiance'|upper }}</h3>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="owl-carousel">
                        {% for partner in partners %}
                            <li>
                                <img src="{{ partner.assertPath|imagine_filter('thumb_partner') }}" alt="">
                            </li>
                        {% endfor %}
                    </ul><!-- /.owl-carousel -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-partner background -->
{% endblock %}
