{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block body %}
    <h1>Section index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>ImageSize</th>
                <th>ImageName</th>
                <th>Content</th>
                <th>Slug</th>
                <th>Small_content</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.title }}</td>
                <td>{{ section.imageSize }}</td>
                <td>{{ section.imageName }}</td>
                <td>{{ section.content }}</td>
                <td>{{ section.slug }}</td>
                <td>{{ section.small_content }}</td>
                <td>{{ section.created ? section.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('section_show', {'id': section.id}) }}">show</a>
                    <a href="{{ path('section_edit', {'id': section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('section_new') }}">Create new</a>
{% endblock %}