<footer id="footer" class="dark">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
                <img src="images/footer-logo.png" alt="" class="footer-logo">
                Copyrights &copy; {{ 'now'|date('Y') }} Tous Droits Reserved.
            </div>
            <div class="col_half col_last tright">
                <div class="copyrights-menu copyright-links fright clearfix">
                    <a href="#">{{ 'A propos' }}</a>/
                    <a href="#">{{ 'Nos services' }}</a>/
                    <a href="#">{{ 'Formations' }}</a>/
                    <a href="#">{{ 'Carrières' }}</a>/
                    <a href="#">{{ 'Contacts' }}</a>/
                </div>
                <div class="fright clearfix">
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->
