<!-- Header -->
<header id="header" class="header modern-header modern-header-theme-colored2">
    <div class="header-top bg-theme-colored2 sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="widget text-white">
                        <i class="fa fa-clock-o text-theme-colored"></i> {{ 'content Lorem pixeum' }}:  Mon - Tues : 6.00 am - 10.00 pm, Sunday Closed
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <ul class="list-inline text-right flip sm-text-center">
                            <li>
                                <a class="text-white" href="#">{{ 'Aide' }}</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a class="text-white" href="#">{{ 'Connexion' }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle p-0 xs-text-center pb-30">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a class="menuzord-brand pull-left flip sm-pull-center mb-15" href="index-mp-layout1.html"><img src="images/logo-wide.png" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="header-widget-contact-info-box sm-text-center">
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-envelope text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">{{ 'Adresse Email' }}</a>
                                <h5 class="media-heading subtitle">{{ '{{ info@yourdomain.com }}' }}</h5>
                            </div>
                        </div>
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-phone-square text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">{{ 'Appelez-nous pour plus de détail' }}</a>
                                <h5 class="media-heading subtitle">+(012) 345 6789</h5>
                            </div>
                        </div>
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-building-o text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">{{ 'Localisation géographique ' }}</a>
                                <h5 class="media-heading subtitle">{{ '{{  here adresse localtion}}' }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed">
            <div class="container">
                <nav id="menuzord" class="menuzord blue">
                    <ul class="menuzord-menu">
                        <li class="home active"><a href="#"><i class="fa fa-home font-28"></i></a></li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#home">Home</a></li>
                    </ul>
                    <div class="pull-right sm-pull-none mb-sm-15">
                        <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mr-15 ml-15" href="#">{{ 'Nous contacter' }}</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
