<section class="header-top style2 bg-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="flat-infomation float-left">
                    <li class="phone">
                        <a href="#" title=""><i class="fa fa-tty" aria-hidden="true"></i> +225 22 43 57 38</a>
                    </li>
                </ul><!-- /.flat-infomation -->
                <ul class="flat-social float-right">
                    <li>
                        <a href="" title="Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" title="Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" title="Google Plus">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul><!-- /.flat-social -->
                <div class="flat-sign-in float-right">
                    {% if app.user %}
                        <a href="#" title="">{{ 'Compte' }}</a>
                        <ul class="unstyled box-shadow">
                            <li>
                                <a href="{{ path('admin') }}" title="Accéder à l'admin">{{ 'Admin' }}</a>
                            </li>
                            <li>
                                <a href="{{ path('security_logout') }}" title="Se deconnecter">{{ 'Logout' }}</a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{{ path('signin_page') }}" title="Se connecter">{{ 'Se connecter' }}</a>
                    {% endif %}
                </div><!-- /.flat-sign-in -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.header-top -->

<section id="header" class="header style2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="logo" class="logo float-left">
                    <a href="{{ path('index_page') }}" title="Audicoci Consusting">
                        <img src="{{ asset('build/global/images/logo-audicoci.png') }}" alt="audicoci">
                    </a>
                </div><!-- /.logo -->
                <div class="get-quote float-right">
                    <a href="{{ path('page_contact') }}" title="Nous contacter">{{ 'nous contacter'|upper }}</a>
                </div>
                <div class="nav-wrap">
                    <div class="btn-menu">
                        <span></span>
                    </div><!-- //mobile menu button -->
                    <div id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li><a href="{{ path('page_philosophie') }}" title="Notre philosophie">{{ 'Notre philosophie' }}</a></li>
                            <li><a href="{{ path('page_about') }}" title="Le Cabinet">{{ 'Le Cabinet' }}</a></li>
                            <li><a href="{{ path('page_services') }}" title="Nos services">{{ 'Nos services' }}</a></li>
                            <li><a href="{{ path('page_learning') }}" title="Nos formations">{{ 'Nos formations' }}</a></li>
                            <li><a href="{{ path('page_blog') }}" title="Actualités">{{ 'Actualités' }}</a></li>
                        </ul><!-- /.menu -->
                    </div><!-- /.mainnav -->
                </div><!-- /.nav-wrap -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- /.header -->