<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>{% block Title %}{% endblock %}</title>
    <meta name="author" content="themsflat.com">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Boostrap style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/stylesheets/bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/stylesheets/fancybox.css') }}">
    <!-- REVOLUTION LAYERS STYLES -->
    {% block stylesheets %}{% endblock %}
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/stylesheets/style.css') }}">
    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/stylesheets/responsive.css') }}">
    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/stylesheets/colors/color1.css') }}" id="colors2">
</head>
<body class="header_sticky">
    <div class="preloader">
        <div class="dizzy-gillespie"></div>
    </div><!-- /.preloader -->
    <div class="boxed">
        {{ include('includes/header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('includes/footer.html.twig') }}
    </div>
<!-- Javascript -->
<script type="text/javascript" src="{{ asset('build/global/javascript/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/jquery-validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/waypoints.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/easing.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/jquery.fancybox.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/kinetic.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/jquery.flexslider-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/parallax.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/jquery.final-countdown.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/global/javascript/main.js') }}"></script>
{% block javascripts%}{% endblock %}
</body>
</html>